*.egg-info
*.pyc
.idea
logs
*.swp
*~
*.lprof
*.DS_Store

.vscode

gym_collision_avoidance/experiments/results

venv
log

gym_collision_avoidance/envs/policies/CADRL/pickle_files/multi/nn_training_param.p
gym_collision_avoidance/envs/policies/Python-RVO2/dist

# gym_collision_avoidance/envs/test_cases/2_agents_500_cases_carrl_seed*.p

docs/_build
gym_collision_avoidance/experiments/src/test_bar.py
gym_collision_avoidance/navigan/CMakeLists.txt
gym_collision_avoidance/navigan/datasets/eth/test/biwi_eth.txt
gym_collision_avoidance/navigan/datasets/eth/train/biwi_hotel_train.txt
gym_collision_avoidance/navigan/datasets/eth/train/crowds_zara01_train.txt
gym_collision_avoidance/navigan/datasets/eth/train/crowds_zara02_train.txt
gym_collision_avoidance/navigan/datasets/eth/train/crowds_zara03_train.txt
gym_collision_avoidance/navigan/datasets/eth/train/students001_train.txt
gym_collision_avoidance/navigan/datasets/eth/train/students003_train.txt
gym_collision_avoidance/navigan/datasets/eth/train/uni_examples_train.txt
gym_collision_avoidance/navigan/datasets/eth/val/biwi_hotel_val.txt
gym_collision_avoidance/navigan/datasets/eth/val/crowds_zara01_val.txt
gym_collision_avoidance/navigan/datasets/eth/val/crowds_zara02_val.txt
gym_collision_avoidance/navigan/datasets/eth/val/crowds_zara03_val.txt
gym_collision_avoidance/navigan/datasets/eth/val/students001_val.txt
gym_collision_avoidance/navigan/datasets/eth/val/students003_val.txt
gym_collision_avoidance/navigan/datasets/eth/val/uni_examples_val.txt
gym_collision_avoidance/navigan/datasets/hotel/test/biwi_hotel.txt
gym_collision_avoidance/navigan/datasets/hotel/train/biwi_eth_train.txt
gym_collision_avoidance/navigan/datasets/hotel/train/crowds_zara01_train.txt
gym_collision_avoidance/navigan/datasets/hotel/train/crowds_zara02_train.txt
gym_collision_avoidance/navigan/datasets/hotel/train/crowds_zara03_train.txt
gym_collision_avoidance/navigan/datasets/hotel/train/students001_train.txt
gym_collision_avoidance/navigan/datasets/hotel/train/students003_train.txt
gym_collision_avoidance/navigan/datasets/hotel/train/uni_examples_train.txt
gym_collision_avoidance/navigan/datasets/hotel/val/biwi_eth_val.txt
gym_collision_avoidance/navigan/datasets/hotel/val/crowds_zara01_val.txt
gym_collision_avoidance/navigan/datasets/hotel/val/crowds_zara02_val.txt
gym_collision_avoidance/navigan/datasets/hotel/val/crowds_zara03_val.txt
gym_collision_avoidance/navigan/datasets/hotel/val/students001_val.txt
gym_collision_avoidance/navigan/datasets/hotel/val/students003_val.txt
gym_collision_avoidance/navigan/datasets/hotel/val/uni_examples_val.txt
gym_collision_avoidance/navigan/datasets/raw/all_data/biwi_eth.txt
gym_collision_avoidance/navigan/datasets/raw/all_data/biwi_hotel.txt
gym_collision_avoidance/navigan/datasets/raw/all_data/crowds_zara01.txt
gym_collision_avoidance/navigan/datasets/raw/all_data/crowds_zara02.txt
gym_collision_avoidance/navigan/datasets/raw/all_data/crowds_zara03.txt
gym_collision_avoidance/navigan/datasets/raw/all_data/students001.txt
gym_collision_avoidance/navigan/datasets/raw/all_data/students003.txt
gym_collision_avoidance/navigan/datasets/raw/all_data/uni_examples.txt
gym_collision_avoidance/navigan/datasets/raw/train/biwi_eth_train.txt
gym_collision_avoidance/navigan/datasets/raw/train/biwi_hotel_train.txt
gym_collision_avoidance/navigan/datasets/raw/train/crowds_zara01_train.txt
gym_collision_avoidance/navigan/datasets/raw/train/crowds_zara02_train.txt
gym_collision_avoidance/navigan/datasets/raw/train/crowds_zara03_train.txt
gym_collision_avoidance/navigan/datasets/raw/train/students001_train.txt
gym_collision_avoidance/navigan/datasets/raw/train/students003_train.txt
gym_collision_avoidance/navigan/datasets/raw/train/uni_examples_train.txt
gym_collision_avoidance/navigan/datasets/raw/val/biwi_eth_val.txt
gym_collision_avoidance/navigan/datasets/raw/val/biwi_hotel_val.txt
gym_collision_avoidance/navigan/datasets/raw/val/crowds_zara01_val.txt
gym_collision_avoidance/navigan/datasets/raw/val/crowds_zara02_val.txt
gym_collision_avoidance/navigan/datasets/raw/val/crowds_zara03_val.txt
gym_collision_avoidance/navigan/datasets/raw/val/students001_val.txt
gym_collision_avoidance/navigan/datasets/raw/val/students003_val.txt
gym_collision_avoidance/navigan/datasets/raw/val/uni_examples_val.txt
gym_collision_avoidance/navigan/datasets/univ/test/students001.txt
gym_collision_avoidance/navigan/datasets/univ/test/students003.txt
gym_collision_avoidance/navigan/datasets/univ/train/biwi_eth_train.txt
gym_collision_avoidance/navigan/datasets/univ/train/biwi_hotel_train.txt
gym_collision_avoidance/navigan/datasets/univ/train/crowds_zara01_train.txt
gym_collision_avoidance/navigan/datasets/univ/train/crowds_zara02_train.txt
gym_collision_avoidance/navigan/datasets/univ/train/crowds_zara03_train.txt
gym_collision_avoidance/navigan/datasets/univ/train/uni_examples_train.txt
gym_collision_avoidance/navigan/datasets/univ/val/biwi_eth_val.txt
gym_collision_avoidance/navigan/datasets/univ/val/biwi_hotel_val.txt
gym_collision_avoidance/navigan/datasets/univ/val/crowds_zara01_val.txt
gym_collision_avoidance/navigan/datasets/univ/val/crowds_zara02_val.txt
gym_collision_avoidance/navigan/datasets/univ/val/crowds_zara03_val.txt
gym_collision_avoidance/navigan/datasets/univ/val/uni_examples_val.txt
gym_collision_avoidance/navigan/datasets/zara1/test/crowds_zara01.txt
gym_collision_avoidance/navigan/datasets/zara1/train/biwi_eth_train.txt
gym_collision_avoidance/navigan/datasets/zara1/train/biwi_hotel_train.txt
gym_collision_avoidance/navigan/datasets/zara1/train/crowds_zara02_train.txt
gym_collision_avoidance/navigan/datasets/zara1/train/crowds_zara03_train.txt
gym_collision_avoidance/navigan/datasets/zara1/train/students001_train.txt
gym_collision_avoidance/navigan/datasets/zara1/train/students003_train.txt
gym_collision_avoidance/navigan/datasets/zara1/train/uni_examples_train.txt
gym_collision_avoidance/navigan/datasets/zara1/val/biwi_eth_val.txt
gym_collision_avoidance/navigan/datasets/zara1/val/biwi_hotel_val.txt
gym_collision_avoidance/navigan/datasets/zara1/val/crowds_zara02_val.txt
gym_collision_avoidance/navigan/datasets/zara1/val/crowds_zara03_val.txt
gym_collision_avoidance/navigan/datasets/zara1/val/students001_val.txt
gym_collision_avoidance/navigan/datasets/zara1/val/students003_val.txt
gym_collision_avoidance/navigan/datasets/zara1/val/uni_examples_val.txt
gym_collision_avoidance/navigan/datasets/zara2/test/crowds_zara02.txt
gym_collision_avoidance/navigan/datasets/zara2/train/biwi_eth_train.txt
gym_collision_avoidance/navigan/datasets/zara2/train/biwi_hotel_train.txt
gym_collision_avoidance/navigan/datasets/zara2/train/crowds_zara01_train.txt
gym_collision_avoidance/navigan/datasets/zara2/train/crowds_zara03_train.txt
gym_collision_avoidance/navigan/datasets/zara2/train/students001_train.txt
gym_collision_avoidance/navigan/datasets/zara2/train/students003_train.txt
gym_collision_avoidance/navigan/datasets/zara2/train/uni_examples_train.txt
gym_collision_avoidance/navigan/datasets/zara2/val/biwi_eth_val.txt
gym_collision_avoidance/navigan/datasets/zara2/val/biwi_hotel_val.txt
gym_collision_avoidance/navigan/datasets/zara2/val/crowds_zara01_val.txt
gym_collision_avoidance/navigan/datasets/zara2/val/crowds_zara03_val.txt
gym_collision_avoidance/navigan/datasets/zara2/val/students001_val.txt
gym_collision_avoidance/navigan/datasets/zara2/val/students003_val.txt
gym_collision_avoidance/navigan/datasets/zara2/val/uni_examples_val.txt
gym_collision_avoidance/navigan/models/benchmark_zara1_with_model.pt
gym_collision_avoidance/navigan/msg/PointArray.msg
gym_collision_avoidance/navigan/package.xml
gym_collision_avoidance/navigan/scripts/2020-06-17-20-54-15.bag
